<nav class="navbar navbar-expand-lg navbar-dark bg-dark" data-bs-theme="dark">
    <div class="container">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            <h2>ANCHORAGE ⛵</h2>
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
            <li><a href="{% url 'index' %}" class="nav-link px-2 text-primary-emphasis">Home</a></li>
            <li><a href="{% url 'userpage' %}" class="nav-link px-2 text-primary">Userpage</a></li>
            <li><a href="#" class="nav-link px-2 text-primary">APIs</a></li>
            <li><a href="#" class="nav-link px-2 text-primary">About</a></li>
        </ul>
        <div class="col-md-3 text-end">
            <a href="{% url 'login' %}" class="btn btn-outline-primary me-2">Login</a>
            <a href="{% url 'signup' %}" class="btn btn-primary">Sign-up</a>
        </div>
      </div>
    </div>
  </nav>