<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'anchorage/css/admin.css' %}">
    <title>Admin</title>
    
</head>
<body class="active-sidebar">

    <section class="contenido-principal contenido-encoger">
        <!-- Barra de navegación superior -->
        <!-- <nav class="navbar navbar-dark bg-dark ps-3 fixed-top"> -->
        <nav class="navbar navbar-dark bg-dark ps-3">
        <button class="navbar-toggler" type="button" id="sidebarToggle">
            <span class="navbar-toggler-icon"></span>
        </button>
        </nav>

        <!-- Barra de navegación lateral -->
        <nav class="col-md-3 col-lg-2 d-md-block bg-dark sidebar active" id="sidebar">
        <div class="position-sticky sidebar-sticky">
            <ul class="nav flex-column">
            <li class="nav-item">
                <a href="{% url 'nuevoLink' %}" class="d-block p-3"><i class="icon ion-md-add m-2 lead"></i> Nuevo</a>
            </li>
            <li class="nav-item">
                <a href="#" class="d-block p-3"><i class="icon ion-md-add m-2 lead"></i> Listar</a>
            </li>
            <li class="nav-item">
                <a href="#" class="d-block p-3"><i class="icon ion-md-apps m-2 lead"></i> Direcciones</a>
            </li>
            <li class="nav-item">
                <a href="#" class="d-block p-3"><i class="icon ion-md-stats m-2 lead"></i> Estadísticas</a>
            </li>
            <li class="nav-item">
                <a href="#" class="d-block p-3"><i class="icon ion-md-settings m-2 lead"></i> Opcion</a>
            </li>
            </ul>
        </div>
        </nav>

        <div class="container">
            <h1 class="bg-dark text-light rounded-bottom-4 text-center p-2">Titulo loco</h1>
            {% block contenido %} 
            {% endblock %} 
        </div>

    </section>


    



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script  src="{% static 'anchorage/js/admin.js' %}"></script>
</body>
</html>