

.hero{
    background-image: url(https://images.theconversation.com/files/246673/original/file-20181121-161621-tvw7sv.jpg?ixlib=rb-1.1.0&rect=49%2C199%2C5550%2C2775&q=45&auto=format&w=1356&h=668&fit=crop);
    background-size: cover;
    background-position: 50%;
    height: 40vh;
    clip-path: polygon(0 0 ,100% 0, 100% 80%,  0% 100%, 0 100%);
}
body{
    background-image: url('../img/paperbg.jpg');
    background-size: contain;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #e7e7e7;
}
.imgFooter{
    width: 50px;
    margin: 30px;
}
footer p{
    margin: 0;
}