{% extends 'base.html' %}
{% load static %}
{% block titulo %}Inicio{% endblock titulo %}
{% block estilos_extra %}
<link rel="stylesheet" href="{% static 'anchorage/css/estilos.css' %}">
{% endblock estilos_extra %}
{% block contenido %}
    <section class="hero">
        {% include 'anchorage/partials/header.html' %}
        <div>
            <h1 class="text-light">Simplifica tus invitaciones de links</h1>
            <p class="text-light">
                Haz tus enlaces mas simples, cómodos y efectivos. Descubre todas las
                ventajas de usar Anchorage para acortar tus enlaces.
            </p>
        </div>
        <img src="{% static 'anchorage/img/qr.png' %}">
    </section>
    <main class="container-fluid">
        <div class="row justify-content-md-center ">
            <div class="col-xl-7 col-md-12 bg-light m-4 rounded">

                <section>
                    
                    <h2>Porqué usar un acortador de url?</h2>
                    <ul>
                        <li>Puedes proteger información sesible o las querys del URI</li>
                        <li>Crearás posts más prolijos, con menos caracteres</li>
                        <li>Facilidad para copiar el link a mano, en caso de ser necesario</li>
                        <li>Personalizar tus urls</li>
                        <li>Obtener estadísticas y hacer un seguimiento al acceso de las mismas</>
                        </ul>
                </section>
                <section>
                    
                    <h2>Prueba tambien nuestro qrmaker</h2>
                    <p>
                        Link al generador de qr:
                        <a href="https://www.youtube.com/watch?v=xWx9_GVHa_k">
                            https://www.youtube.com/watch?v=xWx9_GVHa_k
                        </a>
                    </p>

                    <img src="{% static 'anchorage/img/qr.png' %}">
                    
                    
                    <img src="{% static 'anchorage/img/submarino.png' %}">
                </section>
                    <h1>Hola desde un html</h1>
                    <h2>Estamos en al clase 16 que es de forms 1, Sigue la 17 de forms 2</h2>
                    <hr>
                    <p>
                        Aplicar:
                        <br>
                        https://twitter.com/midudev/status/1685988285435252736?t=SzZpJF0bSK2In6SRNZiRmQ&s=19
                    </p>
                    <h2>Recordar ver la clase 2 de bootstrap del fullstrack en Node.</h2>
                    <p>
                        Este proyecto se llama: {{proyecto}}
                    </p>
                    <p>
                        Está creado con la tecnología: {{tecnología|upper}}
                    </p>
                    <p>
                        Y le voy a meter Bootstrap.
            </p>
            <p>
                Hoy es: {{fecha}}
            </p>
            {% for variable in lista %}
            <p style="color:{% cycle 'blue' 'red' %}">Variable: {{variable}}</p>
            {% endfor %}
            
        </div>
        </div>
    </main>
    
    
    
    
    
    {% endblock contenido %}