{% extends 'base.html' %}
{% load static %}
{% block titulo %}Inicio{% endblock titulo %}
{% block estilos_extra %}{% endblock estilos_extra %}
{% block contenido %}

    <img src="{% static 'anchorage/img/submarino.png' %}">
        <h1>Hola desde un html</h1>
    <h2>Estamos en al clase 14, sigue la 16 porque 15 no existe.</h2>
    <p>
        Este proyecto se llama: {{proyecto}}
    </p>
    <p>
        Está creado con la tecnología: {{tecnología|upper}}
    </p>
    <p>
        Y le voy a meter Bootstrap.
    </p>
    <p>
        Hoy es: {{fecha}}
    </p>
    {% for variable in lista %}
    <p style="color: {% cycle 'blue' 'red' %}">Variable: {{variable}}</p>
    {% endfor %}







{% endblock contenido %}